/* Style for the todo item component */
.todoItems {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* Style for individual todo item */
.todoItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #555555;
  width: 450px;
  height: 40px;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* Style for completed todo item */
.completed {
  text-decoration: line-through;
  color: gray;
}
/* Responsive design  */
@media screen and (max-width: 575px) {
  .todoItem {
    width: 300px;
    height: 30px;
    font-size: 14px;
    padding: 8px;
  }
}
