.navbar {
  background-color: #140f27;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Style for link in the navbar */
a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* Hover effect for link */
a:hover {
  color: rgb(252, 252, 152);
}
/* Responsive design */
@media screen and (max-width: 900px) {
  .navbar {
    padding: 0.5rem;
  }
  a {
    font-size: 1.5rem;
  }
}
